body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  width: 1440px;
}
/*Logo*/
.logo {
  font-family: raleway;
  text-decoration: none;
}
.logo .logo-web {
  color: #4d5ae5;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.logo .logo-studio {
  color: #2e2f42;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.top-line {
  display: inline;
  width: 1440px;
  height: 72px;
}

/*Navigaor*/
.navigator {
  text-decoration: none;
  list-style-type: none;
}

.nav-studio-link {
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.nav-portfolio-link {
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.nav-contacts-link {
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.nav-studio-link:hover {
  color: #404bbf;
  text-decoration: underline;
  text-decoration-color: #404bbf;
  border-radius: 2px;
}

.nav-portfolio-link:hover {
  color: #404bbf;
  text-decoration: underline;
  text-decoration-color: #404bbf;
  border-radius: 2px;
}

.nav-contacts-link:hover {
  color: #404bbf;
  text-decoration: underline;
  text-decoration-color: #404bbf;
  border-radius: 2px;
}
/*Adress*/
.adress {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.adress:hover {
  color: #404bbf;
}

.contacts {
  list-style-type: none;
}

/*Index-Main*/
.main-info {
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
  background-color: #2e2f42;
  color: #2e2f42;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.071;
  letter-spacing: 1.12px;
  padding: 188px 472px 292px 472px;
}

.main-info button {
  width: 176px;
  height: 56px;
  padding: 16px 32px;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  margin: 356px 636px 188px 636px;
  /* Button Text */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}
