:root {
  --nav-color: #2e2f42;
  --link-hover-color: #404bbf;
  --logo-button-color: #4d5ae5;
  --main-white-color: #fff;
  --second-white-color: #f4f4fd;
  --main-grey-color: #434455;
}


body {
  font-family: "Roboto", sans-serif;
  color: var(--main-grey-color);
  background-color: var(--main-white-color);
}

ul {
  list-style-type: none;
  text-decoration: none;
}
/*Logo*/
.link-logo {
  color: var(--logo-button-color);
  font-size: 18px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.link-logo .logo-studio {
  font-family: "Raleway", sans-serif;
  color: var(--nav-color);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-studio-footer {
  color: var(--second-white-color);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/*Navigaor*/
.navigator {
  text-decoration: none;
  list-style-type: none;
}

.nav-studio-link {
  color: var(--nav-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav-portfolio-link {
  color: var(--nav-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav-contacts-link {
  color: var(--nav-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav-studio-link:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
  text-decoration-color: var(--link-hover-color);
}

.nav-portfolio-link:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
  text-decoration-color: var(--link-hover-color);
}

.nav-contacts-link:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
  text-decoration-color: var(--link-hover-color);
}
/*Adress*/
.adress {
  color: var(--main-grey-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.adress:hover {
  color: var(--link-hover-color);
}

.contacts {
  list-style-type: none;
}

/*Index-Main*/
.main-info {
  background-color: var(--nav-color);
  color: var(--nav-color);
}

h1 {
  color: var(--main-white-color);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.071;
  letter-spacing: 0.02em;
}

.main-info button {
  background: var(--logo-button-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--main-white-color);
  margin: 356px 636px 188px 636px;


  /* Button Text */
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

/*Text inside*/
h3 {
  color: var(--nav-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

p {
  color: var(--main-grey-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h2 {
  color: var(--nav-color);
  text-align: center;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.footer-text {
  color: var(--second-white-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

footer {
  background-color: var(--nav-color);
}

/* Buttons links portfolio */
.button-all {
  color: var(--logo-button-color);
  background-color: var(--second-white-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
}

.button-web-site {
  color: var(--logo-button-color);
  background-color: var(--second-white-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
}
.button-app {
  color: var(--logo-button-color);
  background-color: var(--second-white-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
}
.button-design {
  color: var(--logo-button-color);
  background-color: var(--second-white-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
}
.button-marketing {
  color: var(--logo-button-color);
  background-color: var(--second-white-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
}
/* Buttons links portfolio Hover */

.button-all:hover, .button-all:focus {
  color: var(--main-white-color);
  background-color: var(--link-hover-color);
}

.button-web-site:hover, .button-web-site:focus {
  color: var(--main-white-color);
  background-color: var(--link-hover-color);
}

.button-app:hover, .button-app:focus {
  color: var(--main-white-color);
  background-color: var(--link-hover-color);
}

.button-design:hover, .button-design:focus {
  color: var(--main-white-color);
  background-color: var(--link-hover-color);
}

.button-marketing:hover, .button-marketing:focus {
  color: var(--main-white-color);
  background-color: var(--link-hover-color);
}

