body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
:root {
  --nav-color: #2e2f42;
}

ul {
  list-style-type: none;
}
/*Logo*/
.link-logo {
  color: #4d5ae5;
  font-size: 18px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.link-logo .logo-studio {
  font-family: "Raleway", sans-serif;
  color: var(--nav-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-studio-footer {
  color: #f4f4fd;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

/*Navigaor*/
.navigator {
  text-decoration: none;
  list-style-type: none;
}

.nav-studio-link {
  color: var(--nav-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.nav-portfolio-link {
  color: var(--nav-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.nav-contacts-link {
  color: var(--nav-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.nav-studio-link:hover {
  color: #404bbf;
  text-decoration: underline;
  text-decoration-color: #404bbf;
}

.nav-portfolio-link:hover {
  color: #404bbf;
  text-decoration: underline;
  text-decoration-color: #404bbf;
}

.nav-contacts-link:hover {
  color: #404bbf;
  text-decoration: underline;
  text-decoration-color: #404bbf;
}
/*Adress*/
.adress {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.adress:hover {
  color: #404bbf;
}

.contacts {
  list-style-type: none;
}

/*Index-Main*/
.main-info {
  background-color: var(--nav-color);
  color: var(--nav-color);
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.071;
  letter-spacing: 1.12px;
}

.main-info button {
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  margin: 356px 636px 188px 636px;
  /* Button Text */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

/*Text inside*/
h3 {
  color: var(--nav-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

p {
  color: v#434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

h2 {
  color: var(--nav-color);
  text-align: center;

  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

footer {
  background-color: var(--nav-color);
}
